.pontoscoleta {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color: var(--barra-nav);
}

.coletas {
    background-color: var(--amarelo);
    border: var(--borda-pontilhada);
    border-radius: 40px;
    width: 300px;
    padding: 20px;

}

.logos-coleta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos-coletas img {
    width: 120px;
    height: auto;
    padding: 30px;
    margin-left: 55px;
}

.logos-coletas p {
    color: var(--links);
    font-weight: 900;
    text-align: center;
}