.footer {
    background-color: var(--laranja);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 0 0;
    max-width: 100%;
}

.logo-footer {
    width: 140px;
    height: 154px;
}




.footer h3 {
    color: var(--barra-nav);
    font-size: 20px;
    line-height: 2px;
    margin-left: 50px;

}

.footer p {
    color: var(--barra-nav);
    line-height: 1px;
    text-transform: uppercase;
    margin-left: 50px;
}

.rede-social {
    width: 30px;
    margin-left: 50px;
}