@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-marrom: #B74426;
  --color-laranja: #F16C29;
  --color-amarelo: #FEBD59;
  --color-rosa-claro: #FAF4E8;
  --color-barra-nav: #F9FEFF;
  --color-black: #000
}



:root {


  --fonte-principal: 'poppins', sans-serif;

  --borda-pontilhada: 5px dashed var(--marrom);
  --boda-pontilhada-formulario: 3px dashed var(--marrom);


}

* {
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}